.https-conatiner {
  display: flex;
  padding-top: 47px;
  padding-bottom: 70px;
}
.https-nav__btn {
  display: block;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  margin: 10px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #db3340;
  transition: color 0.3s;
}
.https-nav__btn:hover {
  color: #000;
  transition: color 0.3s;
}
.https-nav__btn img {
  margin-left: 3px;
  margin-bottom: 1px;
}
.https-nav {
  width: 193px;
  min-width: 193px;
  margin-left: 20px;
  margin-top: -8px;
  margin-right: 46px;
}
.https-nav__dropdown {
  display: none;
  padding-left: 18px;
}
.https-desc .title-md {
  margin-bottom: 34px;
}
.https-desc .text-md {
  margin-bottom: 25px;
}
.https-desc a {
  display: block;
  text-decoration: none;
  margin-bottom: 25px;
}
.https-desc {
  max-width: 700px;
}
.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 20px;
}
.subsection-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 20px;
}
.https-nav__btn.active {
  color: #000;
}
.https-nav__btn.active ~ .https-nav__dropdown {
  display: block;
}
.block-gray {
  display: flex;
  background: #F6F6F6;
  padding: 36px 59px 36px 42px;
  margin-bottom: 25px;
}
.block-gray__name {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-right: 80px;
}
