@media(min-width: 1149.98px){
  .mailing_your-base .advantage{
    padding-top: 75px;
    padding-bottom: 30px;
  }
  .mailing_your-base .get-started{
    padding-top: 145px;
  }
}
.header.header_your-base .title-block .title{
  max-width: 370px;
} 